html {
    box-sizing: border-box;
    overflow: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Questrial', sans-serif;
    padding: 5%;
}

#grid {
    /* background-color: #350035; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 80vh;
    grid-template-areas: 
    "about projects"
    ;
    grid-gap: 10px;
    max-width: 80%;
    margin: 0 auto;
    color: #fff;
}

.about {
    grid-area: about;
    background-color: red;
}

.projects {
    grid-area: projects;
    background-color: purple;
}
