/**************/

/*CSS Variables */

/**************/

:root {
    --text-color: #474647;
    --blue: #2D7DD2;
    --green: #97CC04;
    --yellow: #EEB902;
    --orange: #F45D01;
    /*Another Color Scheme*/
    --light-blue: #4D9DE0;
    --salmon: #E15554;
    --flower-yellow: #E1BC29;
    --light-green: #3BB273;
    --light-purple: #7768AE;
}

/**************/

/*Defaults */

/**************/

/* html {
    box-sizing: border-box;
    /* overflow: hidden; */
/* }

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
} */ */

body {
    /* background-color: var(--light-green); */
    font-family: 'Questrial', sans-serif;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

i {
    font-size: 3.5rem;
}

.bg-hero {
    background-image: url('/src/img/cool-background.png');
    background-size: cover;
    /* height: 60vh; */
}

.media-custom {
    margin-bottom: 2.5rem;
}